@media only screen and (min-width: 64em) {
    /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
    /*article p.town-article img {
        width: 29.333%;*/
    .forecast {
        display: block;
    }
    .section1 {
        display: flex;
        flex-direction: column;
    }

    .clouds {
        width: 95%;
    }
    .title {
        margin-top: 10px;
        margin-left: 10px;
        font-size: 50px;
    }
    .current {
        display: flex;
        flex-direction: column;
        line-height: 0;
        align-items: center;
        margin-top: 50px;
    }
    .current p {
        display: flex;
        justify-content: flex-start;

    }

    .conditions {
        display: flex;
        justify-content: center;
        color: black;
        font-size: 30px;
    }
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 10px;
    }
    .grid figure img:hover {
        box-shadow: 5px 5px 10px gray;
    }
    .cname {
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: black;
        font-size: 40px
    }

    .cdata {
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: black;
        font-size: 30px;
    }
    .summary {
        display: flex;
        flex-direction: column;
        border-style: solid;
    }
}
