@-webkit-keyfames scroll {
    0% {
        -webkit-transform: translate(0, 0);
    }
    100% {
        -webkit-transform: translate(-100%,0);
    }
}

.marquee {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.marquee span {
    display: inline;
    padding-left: 100%;
    -webkit-animation:scroll 5s infinite linear;
}
