@media only screen and (min-width: 64em) {
    /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
    /*article p.town-article img {
        width: 29.333%;*/
    .forecast {
        display: block;
    }
    .section1 {
        display: flex;
        flex-direction: column;
    }

    .clouds {
        width: 95%;
    }
    .title {
        margin-top: 10px;
        margin-left: 10px;
        font-size: 50px;
    }
    .current {

    }
    .current p {
        display:flex;
        justify-content: flex-start;

    }
    .highlow {
        display: flex;
        justify-content: flex-start;
    }
    .conditions {

    }
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 10px;
    }
    .grid figure img:hover {
        box-shadow: 5px 5px 10px gray;
    }
}
